.new-training {
  padding: 30px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-item {
  flex: 0 0 400px;
  max-width: 100%;
}

.center-align {
  display: flex;
  justify-content: center;
}
