<section class="current-training" class="layout-row">
    <mat-progress-spinner mode="determinate" [value]="progress"></mat-progress-spinner>
    <h1>{{ progress }}%</h1>
    <p>Keep on going, you can do it!</p>
    <button mat-raised-button color="accent" (click)="onStop()">Stop</button>
</section>

<ng-template #dialogContent>
    <h1 mat-dialog-title>Are you sure?</h1>
    <mat-dialog-content>
        <p>You already got {{ passedData.progress }}%</p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="true">Yes</button>
        <button mat-button [mat-dialog-close]="false">No</button>
    </mat-dialog-actions>
</ng-template>