<div class="flex justify-center items-center mt-4">
    <mat-form-field class="w-full max-w-md">
        <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter" class="w-full">
    </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" matSort class="w-full mt-4">
    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-left">Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.date.toDate() | date }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-left">Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="calories">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-left">Calories</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.calories | number }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-left">Duration</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.duration | number }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-left">State</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.state }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 5, 10, 20]" class="mt-4"></mat-paginator>
