<mat-toolbar class="bg-blue-600 flex justify-between items-center p-4">
    <div class="flex items-center">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon class="text-white">menu</mat-icon>
        </button>
        <a routerLink="/" class="text-white text-lg ml-4">Fitness Tracker</a>
    </div>
    <div>
        <ul class="flex space-x-4">
            <li *ngIf="!(isAuth$ | async)">
                <a routerLink="/signup" class="text-white hover:text-gray-300">Signup</a>
            </li>
            <li *ngIf="!(isAuth$ | async)">
                <a routerLink="/login" class="text-white hover:text-gray-300">Login</a>
            </li>
            <li *ngIf="isAuth$ | async">
                <a routerLink="/training" class="text-white hover:text-gray-300">Training</a>
            </li>
            <li *ngIf="isAuth$ | async">
                <a class="text-white hover:text-gray-300 cursor-pointer" (click)="onLogout()">Logout</a>
            </li>
        </ul>
    </div>
</mat-toolbar>