/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
  }
  
  body {
    margin: 0;
  }
  
mat-card { padding: 30px; }
.mat-mdc-text-field-wrapper { background-color: transparent !important }
